<div class="text-xs p-8">
  Inspired by <a
    href="https://stephango.com/flexoki"
    class="font-medium underline underline-offset-2 italic"
    target="_blank">Flexoki</a
  > from Steph Ango and Ben Borgers <a
    href="https://ben.page/"
    class="font-medium underline underline-offset-2 italic"
    target="_blank">personal page</a
  >.
</div>
